h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
}
.link {
    text-decoration: none;
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
.square {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 850px;
    bottom: 400px;
    animation: square 3s infinite ;
}
.square:hover {
    animation-play-state: paused;
}
@keyframes square {
    0% {
        transform: translate(0, 0);
        background-color: red;
    }
    20% {
        transform: translateY(50px);
        background-color: orange;
    }
    40% {
        transform: translate(50px, 50px);
        background-color: yellow;
    }
    60% {
        transform: translateX(50px);
        background-color: greenyellow;
    }
    100% {
        transform: translateY(0);
        background-color: red;
    }
}